
html {
    scroll-behavior: smooth;
}


@font-face {
    font-family: 'Lobster';
    src: url(Lobster-Regular.ttf);
}

@font-face {
    font-family: 'Caviar';
    src: url(CaviarDreams.ttf);
}


body {
    background-image: url("Contour Line.svg");
    position: relative;
    margin: 0px;
    background-attachment: fixed;
    background-position: auto auto;
    background-size: cover;
}    


header {
    color: aliceblue;
    position: relative;
    padding-bottom: 1;
}

a {
    text-decoration: none;
    color: aliceblue;
}

a:hover {
    color: #600331;
}

.arrow:hover {
    opacity: 0.1;
}

.work {
    margin-left: 160;
}

.headertxt {
    position: relative;
    margin-left: 50;
    margin-right: 50;
    font-size: 38;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif, sans-serif;
    margin-top: 10;
}

.index {
   float: left;
}

.otherhead {
    float: right;
}


.present {
    text-align: center;
}

.hello {
    font-family: Zapf Chancery;
    color: #f0f8ff;
    z-index: 20;
    text-align: center;
    font-size: 50;
}

.containerhome {
    text-align: center;
    position: relative;
    margin-bottom: 0;
    margin-top: 250;
}

.underlinehello {
    font-family: Arial, cursive;
    position: relative;
    font-family: Zapf Chancery;
    font-size: 30;
}

h1 {
    margin: 0;
}

p {
    margin: 0;
}

.arrow {
    width: 8%;
    position: relative;
    margin-top: 150px;
}

.containerbio {
    text-align: center;
    position: relative;
    margin-bottom: 0;
    margin-top: 370;
    color: aliceblue;
    font-size: 32;
    padding-left: 310;
    padding-right: 310;
    font-family: 'Caviar';
}



footer {
    position: relative;
    margin-top: 800;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif, sans-serif;
    color: aliceblue;
    font-size: 15;

}


ul {
    font-size: 25;
}

